
<div class="main-content">
  <div class="page-content">

<div class="container-fluid">

  <!-- start page title -->
<div class="row">
<div class="col-12">
<div class="page-title-box d-sm-flex align-items-center justify-content-between">
<h4 class="mb-sm-0 font-size-18">Modifier Factures</h4>

<div class="page-title-right">
  <ol class="breadcrumb m-0">
      <li>Gérer Facture</li>
      <li> /Modifier Facture</li>
  </ol>
</div>

</div>
</div>
</div>
<!-- end page title -->
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                <form>


                  <div class="mb-3 row">
                      <label for="Livreur" class="col-md-2 col-form-label">Nom Livreur</label>
                      <div class="col-md-10">
                          <input class="form-control" type="text" placeholder="Entrée Le Nom de Livreur" id="example-text-input">
                      </div>
                  </div>

                  <div class="mb-3 row">
                    <label for="client1" class="col-md-2 col-form-label">Client 1</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" placeholder="Entrée Le Prenom de la 1er Client" id="example-text-input">
                    </div>
                </div>

                <div class="mb-3 row">
                  <label for="client2" class="col-md-2 col-form-label">Client 2</label>
                  <div class="col-md-10">
                      <input class="form-control" type="text" placeholder="Entrée Le Prenom de la 2ème Client" id="example-text-input">
                  </div>
              </div>

              <div class="mb-3 row">
                <label for="colis" class="col-md-2 col-form-label">Type Colis</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" placeholder="Entrée Le Type de Colis" id="example-text-input">
                </div>
            </div>


            <div class="mb-3 row">
              <label for="montant" class="col-md-2 col-form-label">Montant</label>
              <div class="col-md-10">
                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected"><span class="input-group-btn input-group-prepend"></span><span class="input-group-addon bootstrap-touchspin-prefix input-group-prepend"><span class="input-group-text">$</span></span><input data-toggle="touchspin" type="text" data-bts-prefix="$" class="form-control"><span class="input-group-btn input-group-append"></span></div>
              </div>
          </div>
          <div class="mb-3 row">
            <label for="date" class="col-md-2 col-form-label">Date</label>
            <div class="col-md-10">
              <div class="input-group" id="datepicker1">
                <input type="text" class="form-control" placeholder="dd M, yyyy" data-date-format="dd M, yyyy" data-date-container="#datepicker1" data-provide="datepicker">

                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
            </div>

        </div>
                  <br>
                  <br>
                  <button class="btn btn-primary" type="submit" style = "position:relative; left:800px !important;">Modifier</button>

                </form>
              </div>
          </div>
      </div> <!-- end col -->
  </div>
  <!-- end row -->






</div>
  </div>
  </div>
