<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->

      </div>
    </div>
  </div>
  <div class="container mt-2">
    <button>Open PDF</button>
  </div>
  <div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="d-flex flex-row p-2">
                    <div class="d-flex flex-column"> <span class="font-weight-bold">Facture Tax</span> <small>INV-001</small> </div>

                </div>

                <hr>
                <div class="table-responsive p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>Livreur</td>

                            </tr>
                            <tr class="content">
                                <td class="font-weight-bold">Nom et Prenom: Wassim Ben Sadok</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="table-responsive p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>Pour</td>
                              <td>Depuis</td>
                          </tr>
                          <tr class="content">
                              <td class="font-weight-bold">Google <br>Attn: Jassa Smith Pymont <br>Australia</td>
                              <td class="font-weight-bold">Facebook <br> Attn: Jassa Right Polymont <br> USA</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>

                <div class="products p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>Description</td>
                                <td>Date</td>
                                <td>Prix</td>
                                <td class="text-center">Totale</td>
                            </tr>
                            <tr class="content">
                                <td>Website Redesign</td>
                                <td>15</td>
                                <td>$1,500</td>
                                <td class="text-center">$22,500</td>
                            </tr>
                            <tr class="content">
                                <td>Logo & Identity</td>
                                <td>10</td>
                                <td>$1,500</td>
                                <td class="text-center">$15,000</td>
                            </tr>
                            <tr class="content">
                                <td>Marketing Collateral</td>
                                <td>3</td>
                                <td>$1,500</td>
                                <td class="text-center">$4,500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="products p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td></td>
                                <td>Sub-Totale</td>
                                <td>TVA (18%)</td>
                                <td class="text-center">Totale</td>
                            </tr>
                            <tr class="content">
                                <td></td>
                                <td>$40,000</td>
                                <td>2,500</td>
                                <td class="text-center">$42,500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="address p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>Signature</td>
                            </tr>
                            <tr class="content">
                                <td> Digital Power Consulting <br> Wings <br> <br> ----------------------</td>
                            </tr>
                            <br>
                            <br>

                            <br>
                            <br>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Top navbar -->


  </div>
