
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
      <h2 class="title-page" style="text-align: center; font-size: 50PX;">Apercu de <span style="color: #FF6314;">Compte</span></h2>
    </div> <!-- container //  -->
    </section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
      <div class="row">
        <div class="sidenav">

            <h1 class="title-page" id="APC">Mon compte</h1>
            <mat-divider></mat-divider>
            <a [routerLink]="['/profile-main']" id="a">Aperçu du compte</a>
            <mat-divider></mat-divider>
            <button class="list-group-item" id="b" class="dropdown-btn">Ordres
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a [routerLink]="['/home']" id="a">Shop</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/list-orders']" id="a">Consulter Ordres</a>
            </div>
            <div *ngIf="currentUser.roles.includes('ROLE_USER') && currentUser.isActive">
            <mat-divider></mat-divider>
            <button class="list-group-item" id="b" class="dropdown-btn">Demande de livraison
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a [routerLink]="['/add-demand']" id="a">Ajouter Demande</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/list-demand']" id="a">Consulter Demandes</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/offers']" id="a">Offres de livraison</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/requests-send']" id="a">Invitation envoyée</a>
            </div>
          </div>
            <div *ngIf="currentUser.roles.includes('ROLE_DELIVERY') && currentUser.isActive">
              <mat-divider></mat-divider>
              <button class="list-group-item" id="b" class="dropdown-btn">Offre de livraison
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a [routerLink]="['/add-offer']" id="a">Ajouter Offre</a>
                <mat-divider></mat-divider>
                <a [routerLink]="['/list-offer']" id="a">Consulter Offres</a>
                <mat-divider></mat-divider>
                <a [routerLink]="['/requests']" id="a">Invitation réussie </a>
                <mat-divider></mat-divider>
              </div>
            </div>
            <div  *ngIf="currentUser.roles.includes('ROLE_USER_PRO') && currentUser.isActive">
              <mat-divider></mat-divider>
              <button class="list-group-item" id="b" class="dropdown-btn">Magasin
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                  <a [routerLink]="['/card']" id="a">Aperçu du Carte Pro</a>
                  <mat-divider></mat-divider>
                  <a [routerLink]="['/add-product']" id="a">Ajouter Produit</a>
                  <mat-divider></mat-divider>
                  <a [routerLink]="['/list-product']" id="a">Consulter produit</a>
                  <mat-divider></mat-divider>
              </div>
          </div>
            <mat-divider></mat-divider>
            <a [routerLink]="['/']" id="a">Paramètre</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/']" id="a">Déconnecter</a>
            <mat-divider></mat-divider>
    
    
          </div>
        <main class="col-md-9">
    
            <article class="card mb-3">
                <div class="card-body">
                    
                    <figure class="icontext">
                            <div class="icon">
                                <img class="rounded-circle img-sm border" src="../../../assets/images/avatars/avatar-user-profile.png">
                            </div>
                            <div class="text">
                                <strong> {{ currentUser.firstname}} {{ currentUser.lastname}}</strong> <br> 
                                <p class="mb-2"> {{ currentUser.email }} </p> 
                                <a href="#" class="btn btn-light btn-sm">Edit</a>
                            </div>
                    </figure>
                    <hr>
                    <p>
                        <i class="fa fa-map-marker text-muted"></i> &nbsp; Mon adresse:  
                         <br>
                        {{User.address+','+User.governorate}} &nbsp; 
                        
                    </p>
    
                    
    
                    <article class="card-group card-stat">
                        <figure class="card bg">
                            <div class="p-3">
                                 <h4 class="title">38</h4>
                                <span>Ordres</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                 <h4 class="title">5</h4>
                                <span>liste d'envies</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                 <h4 class="title">12</h4>
                                <span>En attente de livraison</span>
                            </div>
                        </figure>
                        <figure class="card bg">
                            <div class="p-3">
                                 <h4 class="title">50</h4>
                                <span>Articles livrés</span>
                            </div>
                        </figure>
                    </article>
                    
    
                </div> <!-- card-body .// -->
            </article> <!-- card.// -->
    
            <article class="card  mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-4">Recent orders </h5>	
    
                    <div class="row">
                    <div class="col-md-6">
                        <figure class="itemside  mb-3">
                            <div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
                            <figcaption class="info">
                                <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                                <p>Great book name goes here </p>
                                <span class="text-success">Order confirmed </span>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    <div class="col-md-6">
                        <figure class="itemside  mb-3">
                            <div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
                            <figcaption class="info">
                                <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                                <p>How to be rich</p>
                                <span class="text-success">Departured</span>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    <div class="col-md-6">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
                            <figcaption class="info">
                                <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                                <p>Harry Potter book </p>
                                <span class="text-success">Shipped  </span>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
    
                <a href="#" class="btn btn-outline-primary btn-block"> See all orders <i class="fa fa-chevron-down"></i>  </a>
                </div> <!-- card-body .// -->
            </article> <!-- card.// -->
    
        </main> <!-- col.// -->
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    