<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

          <!-- start page title -->
<div class="row">
<div class="col-12">
  <div class="page-title-box d-sm-flex align-items-center justify-content-between">
      <h4 class="mb-sm-0 font-size-18">Lire Reclamation</h4>

      <div class="page-title-right">
         
      </div>

  </div>
</div>
</div>
<!-- end page title -->
          <div class="row">
              <div class="col-12">
                  <!-- Left sidebar -->

                  <!-- End Left sidebar -->

                  <!-- Right Sidebar -->

                      <div class="card">


                          <div class="card-body">
                              <div class="d-flex mb-4">
                                  <div class="flex-shrink-0 me-3">
                                      <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-2.jpg" alt="Generic placeholder image">
                                  </div>
                                  <div class="flex-grow-1">
                                      <h5 class="font-size-14 mt-1">Humberto D. Champion</h5>
                                      <small class="text-muted">support@domain.com</small>
                                  </div>
                              </div>

                              <h4 class="mt-0 font-size-16">This Week's Top Stories</h4>

                              <p>Dear Lorem Ipsum,</p>
                              <p>Praesent dui ex, dapibus eget mauris ut, finibus vestibulum enim. Quisque arcu leo, facilisis in fringilla id, luctus in tortor. Nunc vestibulum est quis orci varius viverra. Curabitur dictum volutpat massa vulputate molestie. In at felis ac velit maximus convallis.
                              </p>
                              <p>Sed elementum turpis eu lorem interdum, sed porttitor eros commodo. Nam eu venenatis tortor, id lacinia diam. Sed aliquam in dui et porta. Sed bibendum orci non tincidunt ultrices. Vivamus fringilla, mi lacinia dapibus condimentum, ipsum urna lacinia lacus, vel tincidunt mi nibh sit amet lorem.</p>
                              <p>Sincerly,</p>
                              <hr>

                              <div class="row">
                                  <div class="col-xl-2 col-6">
                                      <div class="card">
                                          <img class="card-img-top img-fluid" src="assets/images/small/img-3.jpg" alt="Card image cap">
                                          <div class="py-2 text-center">
                                              <a href="#" class="fw-medium">Download</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xl-2 col-6">
                                      <div class="card">
                                          <img class="card-img-top img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                          <div class="py-2 text-center">

                                          </div>
                                      </div>
                                  </div>
                              </div>


                          </div>

                      </div>
                  </div>
                  <!-- card -->

              </div>
              <!-- end Col-9 -->

          </div>

      </div>
      <!-- End row -->
  </div>
  <!-- container-fluid -->

