<section class="section-pagetop bg-gray">
  <div class="container">
    <h2 class="title-page" style="text-align: center; font-size: 50PX;">Consulter les offres <span
        style="color: #FF6314;">de livraison disponible</span></h2>
  </div> <!-- container //  -->
</section>
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <div class="sidenav">

        <h1 class="title-page" id="APC">Mon compte</h1>
        <mat-divider></mat-divider>
        <a [routerLink]="['/profile-main']" id="a">Aperçu du compte</a>
        <mat-divider></mat-divider>
        <button class="list-group-item" id="b" class="dropdown-btn">Ordres
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a [routerLink]="['/home']" id="a">Shop</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/list-orders']" id="a">Consulter Ordres</a>
        </div>
        <div *ngIf="currentUser.roles.includes('ROLE_USER') && currentUser.isActive">
        <mat-divider></mat-divider>
        <button class="list-group-item" id="b" class="dropdown-btn">Demande de livraison
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a [routerLink]="['/add-demand']" id="a">Ajouter Demande</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/list-demand']" id="a">Consulter Demandes</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/offers']" id="a">Offres de livraison</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/requests-send']" id="a">Invitation envoyée</a>
        </div>
      </div>
        <div *ngIf="currentUser.roles.includes('ROLE_DELIVERY') && currentUser.isActive">
          <mat-divider></mat-divider>
          <button class="list-group-item" id="b" class="dropdown-btn">Offre de livraison
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a [routerLink]="['/add-offer']" id="a">Ajouter Offre</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/list-offer']" id="a">Consulter Offres</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/requests']" id="a">Invitation réussie </a>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div  *ngIf="currentUser.roles.includes('ROLE_USER_PRO') && currentUser.isActive">
          <mat-divider></mat-divider>
          <button class="list-group-item" id="b" class="dropdown-btn">Magasin
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
              <a [routerLink]="['/card']" id="a">Aperçu du Carte Pro</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/add-product']" id="a">Ajouter Produit</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/list-product']" id="a">Consulter produit</a>
              <mat-divider></mat-divider>
          </div>
      </div>
        <mat-divider></mat-divider>
        <a [routerLink]="['/']" id="a">Paramètre</a>
        <mat-divider></mat-divider>
        <a [routerLink]="['/']" id="a">Déconnecter</a>
        <mat-divider></mat-divider>


      </div>
      <!-- col.// -->
      <main class="col-md-9">
        <div class="card mb-3">
          <div class="card-body">
            <!-- row.// -->

            <div class="row">
              <div class="col-md-2">Filter by</div> <!-- col.// -->
              <div class="col-md-10">
                <ul class="list-inline">


                  <li class="list-inline-item mr-3">
                    <div class="form-inline">
                      <label class="mr-2">Destination</label>
                      <input class="form-control form-control-sm" placeholder="Destination" type="text"
                        [(ngModel)]="destination">
                    </div>
                  </li>
                  <li class="list-inline-item mr-3">
                    <label class="custom-control mt-1 custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="ready">
                      <div class="custom-control-label">Ready to ship
                      </div>
                    </label>
                  </li>
                  <button type="submit" class="btn btn-sm btn-light ml-2" (click)="ok()">Ok</button>
                </ul>
              </div> <!-- col.// -->
            </div> <!-- row.// -->
          </div> <!-- card-body .// -->
        </div>
        <article class="card mb-4">

          <!-- card-body .// -->
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr *ngFor="let offer of offers; let i = index" [class.active]="i == currentIndex">
                  <td>
                    <p class="title mb-0" class="fas fa-arrow-alt-circle-right">{{ " "+offer.route.depar_gov}}
                      {{offer.route.adr_departure}}</p>
                    &nbsp;&nbsp;<p class="title mb-0" class="fas fa-pause-circle">{{" "+offer.route.arri_gov}}
                      {{offer.route.adr_arrival}}</p>
                  </td>
                  <td>
                    <p class="title mb-0">{{ offer.date_delivery }} </p>
                    <p class="title mb-0">{{ offer.Date_deadline }} </p>
                  </td>
                  <td>
                    <var class="price text-muted">{{ offer.price }}</var> <br>
                    <p class="title mb-0">{{ offer.etatoffer }} </p>
                  </td>
                  <td width="250"> <button class="btn btn-outline-primary" (click)="open(offer.id, offer.userId)">Envoyer un
                      demande</button>

                  </td>
                </tr>

              </tbody>
            </table>
          </div> <!-- table-responsive .end// -->
        </article> <!-- card order-item .// -->




      </main>
    </div>

  </div> <!-- container .//  -->
</section>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="close()" style="float: right;">&times;</span><br>
    <article class="card mb-4" style="height: 400px;">
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let demand of demands; let i = index" [class.active]="i == currentIndex">
              <td width="65">
                <img src={{demand.fileURL}} class="img-xs border">
              </td>
              <td>
                <p class="title mb-0">{{ demand.type }} </p>
                <var class="price text-muted">{{demand.tel_receiver}}</var>
              </td>
              <td> {{ demand.destination }} <br> {{ demand.etatdemand }} </td>
              <td width="250"> <button class="btn btn-outline-primary" (click)="send(demand.id)">Envoyer</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div> <!-- table-responsive .end// -->
    </article>
  </div>

</div>