<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

          <!-- start page title -->
<div class="row">
<div class="col-12">
<div class="page-title-box d-sm-flex align-items-center justify-content-between">
<h4 class="mb-sm-0 font-size-18">Consulter Livreur</h4>

<div class="page-title-right">

</div>

</div>
</div>
</div>
<!-- end page title -->
          <div class="row">
              <div class="col-xl-4">
                  <div class="card overflow-hidden">
                      <div class="bg-primary bg-soft">
                          <div class="row">
                              <div class="col-7">
                                  <div class="text-primary p-3">
                                      <h5 class="text-primary">Nom et Prenom:</h5>
                                      <p>Ala Weslati</p>
                                  </div>
                              </div>
                              <div class="col-5 align-self-end">
                                  <img src="assets/images/delivery-logo.png" alt="" class="img-fluid">
                              </div>
                          </div>
                      </div>
                      <div class="card-body pt-0">
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="avatar-md profile-user-wid mb-4">
                                      <img src="assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                                  </div>

                              </div>

                              <div class="col-sm-8">
                                  <div class="pt-4">

                                      <div class="row">
                                          <div class="col-9">
                                              <h5 class="font-size-15">Korba-Nabeul</h5>
                                              <p class="text-muted mb-0">Adresse</p>
                                          </div>

                                      </div>
                                      <div class="mt-4">

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end card -->

                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title mb-4">Information Personnel</h4>

                          <p class="text-muted mb-4"></p>
                          <div class="table-responsive">
                              <table class="table table-nowrap mb-0">
                                  <tbody>
                                      <tr>
                                          <th scope="row">Nom et Prenom :</th>
                                          <td>Ala Weslati</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Telephone:</th>
                                          <td>+216 24 198 556</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">E-mail :</th>
                                          <td>cynthiaskote@gmail.com</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">CIN :</th>
                                          <td>14400000</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <!-- end card -->

                  <!-- end card -->
              </div>

              <div class="col-xl-8">

                  <div class="row">
                      <div class="col-md-4">
                          <div class="card mini-stats-wid">
                              <div class="card-body">
                                  <div class="d-flex">
                                      <div class="flex-grow-1">
                                          <p class="text-muted fw-medium mb-2">Missions terminées</p>
                                          <h4 class="mb-0">125</h4>
                                      </div>

                                      <div class="mini-stat-icon avatar-sm align-self-center rounded-circle bg-primary">
                                          <span class="avatar-title">
                                              <i class="bx bx-check-circle font-size-24"></i>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mini-stats-wid">
                              <div class="card-body">
                                  <div class="d-flex">
                                      <div class="flex-grow-1">
                                          <p class="text-muted fw-medium mb-2">Offre en attente</p>
                                          <h4 class="mb-0">12</h4>
                                      </div>

                                      <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                          <span class="avatar-title">
                                              <i class="bx bx-hourglass font-size-24"></i>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="card mini-stats-wid">
                              <div class="card-body">
                                  <div class="d-flex">
                                      <div class="flex-grow-1">
                                          <p class="text-muted fw-medium mb-2">Revenu total</p>
                                          <h4 class="mb-0">36,524 Dt</h4>
                                      </div>

                                      <div class="avatar-sm align-self-center mini-stat-icon rounded-circle bg-primary">
                                          <span class="avatar-title">
                                              <i class="bx bx-package font-size-24"></i>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title mb-4">CIN</h4>
                          <div class="table-responsive">
                             <img src="assets/images/cin.jpg" style="width: 100% ;height:50% ;">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end row -->

      </div> <!-- container-fluid -->
  </div>
  <!-- End Page-content -->


             </div>
