
<div style="background-color:rgb(255, 255, 255) ;">
    <section style="width:100%;">
      <img src="../../../assets/images/becomedelivery.jpg" alt="" style="margin-left:auto ; margin-right: auto; display: block;">
     <table align="center">
      <tr>
      <th>
        <p>POUR CRÉER DEVENIR UN LIVREUR CLIQUEZ ICI&nbsp;&nbsp;&nbsp;</p>
        <a href=""><button class="btn-grad">DEVENIR UN LIVREUR</button></a>
    
      </th>
      <th >
        <p>POUR CRÉER UN NOUVEAU COMPTE LIVREUR CLIQUEZ ICI</p>
        <a><button class="btn-grad" [routerLink]="['/delivery-register']">CRÉER UN NOUVEAU COMPTE LIVREUR</button></a>
      </th>
    </tr>
    </table>
    </section>
    
    </div>
    
<!--<a [routerLink]="['/delivery-register']">Signup</a>-->
