<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Bienvenue !</h5>
                                        <p>Connectez-vous pour continuer à Wings.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="assets/images/logo.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">


                                <div class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="assets/images/login.png" alt="" class="rounded-circle"
                                                height="34">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <form 
                                
                                name="form"
                                (ngSubmit)="f.form.valid && onSubmit()"
                                #f="ngForm"
                                novalidate class="form-horizontal">

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Adresse Email</label>
                                        <input type="text" class="form-control" id="username" name="email"
                                            placeholder="Entrée Votre Email" [(ngModel)]="form.email" required
                                            #email="ngModel">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Mot de Passe</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control" name="password"
                                                [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                                                placeholder="Entrée Votre Mot de passe" aria-label="Password"
                                                aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="password-addon"><i
                                                    class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>

                                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                                        <div *ngIf="password.errors['required']">Password is required</div>
                                        <div *ngIf="password.errors['minlength']">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>

                                    <br>

                                    <div class="mt-3 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Log
                                            In</button>
                                    </div>


                                    <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="form.submitted && isLoginFailed"
                                  >
                                    Login failed: {{ errorMessage }}
                                  </div>

                                </form>
                                
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end account-pages -->





</body>