<!-- partial:index.partial.html -->
<section style="margin-top: 20px; margin-bottom: 20px;">
  <div class="container" style="max-width:520px;">
    <header class="mb-4">
      <h4 class="card-title">Sign up</h4>
    </header>
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="step step-1 active">
        <div class="form-row">
          <div class="col form-group">
            <label>Nom</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required minlength="3"
              maxlength="25" #lastname="ngModel" />
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Prénom</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required minlength="3"
              maxlength="25" #firstname="ngModel" />
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel">
          <small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
        </div> <!-- form-group end.// -->
        <div class="form-row">
          <div class="col form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Téléphone</label>
            <input class="form-control" type="tel" required pattern="[0-9]{8}" name="phone" [(ngModel)]="form.phone">
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Gouvernorat</label>
            <select class="form-control" name="gov" [(ngModel)]="form.gov" required #gov="ngModel"
              (change)="selectChangeHandler($event)">
              <option selected disabled hidden> Choisir...</option>
              <option *ngFor="let Governorate of Governorates; " [value]="Governorate.govName">{{ Governorate.govName }}
              </option>
            </select>

          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>Ville</label>
            <select class="form-control" name="city" [(ngModel)]="form.city" required #city="ngModel">
              <option selected disabled hidden> Choisir...</option>
              <option *ngFor="let city of Citys; let i = index" [value]="city.cityName"> {{ city.cityName }}</option>
            </select>
          </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <button type="button" class="next-btn">Next</button>
      </div>
      <div class="step step-2">
        <div class="form-row">
          <label>Image de Carte CIN Front Et Back</label><br>
          <input #fileUploader class="form-control" type="file" multiple size="2" (change)="selectFiles($event)" />
        </div>
        <mat-divider style="margin-top: 10px;"></mat-divider>
        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="preview">
        </div>
        <mat-divider></mat-divider>
        <div class="form-row">
          <div class="col form-group">
            <label>CIN</label>
            <input type="text" class="form-control" name="cin" [(ngModel)]="form.cin" required minlength="8"
              maxlength="8" #cin="ngModel">
          </div> <!-- form-group end.// -->
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label>Titulaire du compte</label>
            <input type="text" class="form-control" name="account_holder" [(ngModel)]="form.account_holder" required
              minlength="3" maxlength="20" #account_holder="ngModel">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Nom de la banque</label>
            <input type="text" class="form-control" name="bank_name" [(ngModel)]="form.bank_name" required minlength="3"
              maxlength="20" #bank_name="ngModel">
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-row">
          <div class="col form-group">
            <label>Nom de l'agence</label>
            <input type="text" class="form-control" name="agency_name" [(ngModel)]="form.agency_name" required
              minlength="3" maxlength="20" #agency_name="ngModel">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Ville d'agence</label>
            <input type="text" list="acity" class="form-control" name="agency_city" [(ngModel)]="form.agency_city"
              required #agency_city="ngModel" />
            <datalist id="acity">
              <option selected disabled hidden> Choisir...</option>
              <option *ngFor="let acity of agenCitys; let i = index" [value]="acity.cityName"> {{ acity.cityName }}
              </option>
            </datalist>
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
          <label>RIB</label>
          <input type="text" class="form-control" name="rib" [(ngModel)]="form.rib" required minlength="23"
            maxlength="30" #cin="ngModel">
        </div> <!-- form-group end.// -->
        <button type="button" class="previous-btn">Prev</button>
        <button type="submit" class="submit-btn">Submit</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    
  </div>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Votre inscription est réussie !
    Vérifiez votre e-mail
    Nous vous avons envoyé un e-mail de vérification {{form.email}}, veuillez le vérifier
  </div>
</section>