<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
  <div class="container">
    <h2 class="title-page" style="text-align: center; font-size: 50PX;">Ajouter une <span style="color: #FF6314;">Offre
        de livraison</span></h2>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <div class="sidenav">

        <h1 class="title-page" id="APC">Mon compte</h1>
        <mat-divider></mat-divider>
        <a [routerLink]="['/profile-main']" id="a">Aperçu du compte</a>
        <mat-divider></mat-divider>
        <button class="list-group-item" id="b" class="dropdown-btn">Ordres
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a [routerLink]="['/home']" id="a">Shop</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/list-orders']" id="a">Consulter Ordres</a>
        </div>
        <div *ngIf="currentUser.roles.includes('ROLE_USER') && currentUser.isActive">
        <mat-divider></mat-divider>
        <button class="list-group-item" id="b" class="dropdown-btn">Demande de livraison
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a [routerLink]="['/add-demand']" id="a">Ajouter Demande</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/list-demand']" id="a">Consulter Demandes</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/offers']" id="a">Offres de livraison</a>
          <mat-divider></mat-divider>
          <a [routerLink]="['/requests-send']" id="a">Invitation envoyée</a>
        </div>
      </div>
        <div *ngIf="currentUser.roles.includes('ROLE_DELIVERY') && currentUser.isActive">
          <mat-divider></mat-divider>
          <button class="list-group-item" id="b" class="dropdown-btn">Offre de livraison
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a [routerLink]="['/add-offer']" id="a">Ajouter Offre</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/list-offer']" id="a">Consulter Offres</a>
            <mat-divider></mat-divider>
            <a [routerLink]="['/requests']" id="a">Invitation réussie </a>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div  *ngIf="currentUser.roles.includes('ROLE_USER_PRO') && currentUser.isActive">
          <mat-divider></mat-divider>
          <button class="list-group-item" id="b" class="dropdown-btn">Magasin
              <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
              <a [routerLink]="['/card']" id="a">Aperçu du Carte Pro</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/add-product']" id="a">Ajouter Produit</a>
              <mat-divider></mat-divider>
              <a [routerLink]="['/list-product']" id="a">Consulter produit</a>
              <mat-divider></mat-divider>
          </div>
      </div>
        <mat-divider></mat-divider>
        <a [routerLink]="['/']" id="a">Paramètre</a>
        <mat-divider></mat-divider>
        <a [routerLink]="['/']" id="a">Déconnecter</a>
        <mat-divider></mat-divider>


      </div>
      <main class="col-md-9">

        <div class="card">
          <div class="card-body">
            <form>
              <div class="col-md-9" style="margin: auto;
                padding: 10px;">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label><i class="fas fa-arrow-alt-circle-right"></i>&nbsp;Gouvernorat de Départ</label>
                    <select class="form-control" name="gov" [(ngModel)]="offer.departGov" required #gov="ngModel"
                      (change)="selectChangeHandler($event)">
                      <option value="" default="true"> {{offers.route.depar_gov}}</option>
                      <option *ngFor="let Governorate of Governorates; " [value]="Governorate.govName">{{
                        Governorate.govName }}
                      </option>
                    </select>

                  </div> <!-- form-group end.// -->
                  <div class="form-group col-md-6">
                    <label><i class="fas fa-arrow-alt-circle-right"></i>&nbsp;Ville de Départ</label>
                    <select class="form-control" name="city" [(ngModel)]="offer.departAdr" required #city="ngModel">
                      <option value="" default="true"> {{offers.route.adr_departure}}</option>
                      <option *ngFor="let city of Citys; " [value]="city.cityName">{{ city.cityName }}
                      </option>
                    </select>
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row.// --><br>
                <mat-divider></mat-divider><br>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label><i class="fas fa-pause-circle"></i>&nbsp;Gouvernorat de Destination</label>
                    <select class="form-control" name="gov" [(ngModel)]="offer.arriGov" required #gov="ngModel"
                      (change)="selectChangeHandlerII($event)">
                      <option value="" default="true"> {{offers.route.arri_gov}}</option>
                      <option *ngFor="let Governorate of Governorates; " [value]="Governorate.govName">{{
                        Governorate.govName }}
                      </option>
                    </select>

                  </div> <!-- form-group end.// -->
                  <div class="form-group col-md-6">
                    <label><i class="fas fa-pause-circle"></i>&nbsp;Ville de Destination</label>
                    <select class="form-control" name="city" [(ngModel)]="offer.arriAdr" required #city="ngModel">
                      <option value="" default="true"> {{offers.route.adr_arrival}}</option>
                      <option *ngFor="let city of CitysII; " [value]="city.cityName">{{ city.cityName }}
                      </option>
                    </select>
                  </div> <!-- form-group end.// -->
                </div> <!-- form-row.// --><br>
                <mat-divider></mat-divider><br>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label><i class="fa fa-calendar" aria-hidden="true" id="mat"></i>&nbsp;la date de livraison </label>

                    <input type="date" value={{date_delivery}} class="form-control" placeholder="Choisissez une date"
                      id="date" name="date" (change)="selectDate($event)">

                  </div>
                  <div class="form-group col-md-6">
                    <label><i class="fa fa-calendar" aria-hidden="true" id="mat"></i>&nbsp;La date de réception </label>
                    <input type="date" value={{date_deadline}} class="form-control" placeholder="Choisissez une date"
                      id="date" name="date" (change)="selectDateII($event)">
                  </div>

                  <!-- form-group end.// -->
                </div> <!-- form-row.// --><br>
                <mat-divider></mat-divider><br>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label><i class="far fa-money-bill-alt"></i>&nbsp;prix de livraison</label>
                    <input type="text" class="form-control" name="currency-field" id="currency-field"
                      [(ngModel)]="offer.price" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency"
                      placeholder="000 DT">
                  </div>
                  <div class="form-group col-md-6">
                    <label><i class="fas fa-comment-alt" id="Commentaire"></i>&nbsp;Commentaire</label>
                    <textarea class="form-control" id="remark" name="remark" rows="1" cols="38"
                      [(ngModel)]="offer.remark"></textarea>
                  </div>

                  <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <br>
                <mat-divider></mat-divider><br>

                <button class="btn btn-primary" (click)="saveDemand()">Save</button>

                <div *ngIf="submitted">
                  <h4>You submitted successfully!</h4>
                </div>
                <br><br><br><br><br><br>

              </div> <!-- col.// -->
              <!-- col.// -->

            </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->



      </main>
    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->